<header>
    <div class="container-header">
        <a routerLink="/" class="logo"><i class="fa-solid fa-burger" style="color: #ffff; padding-right: 0.9rem; margin-left: 3rem; font-size: 2rem;"></i>FoodBite.</a>
        <nav>
            <ul>
                <li *ngIf="!User.token">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="User.token" class="menu-container">
                    <a routerLink="/dashboard">{{User.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profiles</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logOut()">Logout</a>
                    </div>
                </li>
                <a routerLink="/cart-page"><i class="fa-solid fa-cart-shopping"></i><span>{{cartCount}}</span></a>
            </ul>
        </nav>
    </div>
</header>
